#containt{
	padding-top:5px;
	width:1200px;
	height:700px;
	margin:auto;
}

#filterContent img{
	width:200px;
	height:200px;
}
.tools{
	width:30%;	
}
.input{
	width:40%;
   height:100%;
}
.tools2{
  width:30%;  
}
#adv{
	position:sticky;
	bottom:0px;
	max-height:200px;	
	overflow: auto;
	width:500px;	
	
	z-index:20000;
}
.drag-n-drop{
	height:100%;
}
.upload-section{
	width:100%;
}
#custom div{			
	justify-content:space-between;
}
.option{
	display:none;
}
.option:first-child{
	display:block;
}
#custom{
	width:300px;
}
canvas{
	width:40vw;
	height:500px;
	display:none;
}
#shortcut{
	width:360px;
}
#shortcut i:hover{
        	background:green;
        	font-size:35px;
        	animation: f 0.75s infinite alternate;
        }
        @keyframes f{
        	0%{background:none;color:black;font-size:35px;}
        	50%{background:green;color:violet;font-size:35px;}
        	80%{background:red;color:yellow;font-size:35px;}
        }
