#containt{	
	width:100%;	
	margin:auto;
}
#adv{
	position:sticky;
	bottom:0px;
	max-height:200px;	
	overflow: auto;
	width:500px;	
    width:100vw;
	z-index:20000;
}
#filterContent img{
	width:50vw;
	height:20vh;
}
#tools{
	width:100vw;
	order:1;
	display:none;	
  	overflow:scroll;
}
#tools2{
	width:100vw;
	order:2;
	display:none;			
    overflow:scroll;
}
#inp{
	order:0;
}
#shortcut{
	width:90vw;
}
#toolswrap{
	max-width:500px;
	margin:auto;
}
.input{
	max-width:500px;
}
#custom{
	width:60vw;
}

.option{
	display:none;
}
.option:first-child{
	display:block;
}

