#containt{	
	width:100%;	
	margin:auto;
}
#adv{
	position:sticky;
	bottom:1%;	
	margin:auto;
}
canvas{
	width: 500px;
	height:500px;
}
.tools{
	width:250px;
	order:1;
}
.tools2{
	width:250px;
	order:2;
}
#inp{
	order:0;
}
#toolswrap{
	max-width:500px;
	margin:auto;
}
.input{
	width:500px;
}
.option{
	display:none;
}
.option:first-child{
	display:block;
}

#custom div{
	display:none;
	width: 50px;
	height:50px;
}